@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Estilos del formulario */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.a {
    text-decoration: none;
    color: #E3F3FB;
}

.a:link {
    text-decoration: none;
    color: #E3F3FB; 
}

.a:hover {
    text-decoration: none;
    color: #E3F3FB; 
}


/*Header*/
.contenedor 
{
    width: 100%;
    margin: auto;
}
.contenedor-flex 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-principal {
    width: 100%;
    background: #E3F3FB;
}

.logo-link {
    text-decoration: none;
    color: white;
}

.logo-link:hover {
    color: ##E3F3FB;
}

.contenedor-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header img {
    width: 60px;
}

.social-icon .a-derecha {
    margin-left: 35px;
    margin-right: 35px;
}


/*Menu*/
.nav-principal {
    width: 100%;
    position: relative;
    padding: 10px;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.5);
}

.icon-menu {
    display: block;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.icon-bar {
    position: relative;
    top: -3px;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}

.social-icon_link {
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}

.menu-link {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: #A9CEDF;
    font-family: 'Roboto Slab', cursive;
}

.menu-link:hover {
    background: #8A8E9A;
     font-family: 'Roboto Slab', cursive;
}

.menu-link_select {
    background: #8A8E9A;
     font-family: 'Roboto Slab', cursive;
}

.mostrar {
    height: 196px;
}

@media screen and (min-width:1024px) {
    .icon-menu {
        display: none;
    }

    .menu {
        position: static;
        display: flex;
        height: auto;
        width: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .menu-link {
        background-color: rgba(0, 0, 0, 0.5);
        margin-left: 15px;
        margin-right: 15px;
    }

    .menu-link_select {
        background: #E3F3FB;
    }
}

/*Footer*/
.footer-principal .contenedor {
    background-color: #A9CEDF;
    color: white;
    display: flex;
    font-family: 'Roboto Slab', cursive;
    justify-content: space-between;
    font-size: 12px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 20px 20px;
}

.footer-principal .columna {
    flex: 1;
    text-align: center;  /* Cambié de left a center para centrar el texto */
    display: flex;
    flex-direction: column;
    align-items: center;  /* Alinea los elementos dentro de cada columna */
    justify-content: center; /* Centra el contenido verticalmente dentro de la columna */
}

.titulo-columna {
    font-size: 10px;
    margin-bottom: 10px;
}

.columna-flex-footer .Iconos {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}

.icon-tabler {
    stroke: white;
}

.copy {
    margin: 10px;
    font-size: 10px;
    font-family: 'Roboto Slab', cursive;
    color: #A9CEDF;
    height: 25px;
    text-align: center;
}

/*Boton Whatsapp*/

.btn-wsp 
{
    position:fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 25px;
    right: 25px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 4000;
    transition: all 300ms ease;
}
.btn-wsp:hover 
{
    text-decoration: none;
    color: #25D366;
    background: white;
}

@media (max-width: 768px) {
    .titulo-columna {
        font-size: 9px;
    }
    .desc-columna{
        font-size: 8px;
    }
    imagen-icono-bajo{
        width: 20px;
    }
    .columna-flex-footer .Iconos {
        width: 30px;
        height: 30px;
        margin-bottom: 8px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.banner {
    position: relative;
}

.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 1000;
    top: 0;
}

.img-banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.contenido-banner {
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 54%;
    left: 46%;
    transform: translateX(-42%) translateY(-58%);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.img-texto {
    width: 100%;
    
    object-fit: cover;
}

/*Ubicacion*/

.direccion {
    text-align: center; /* Centra el texto */
    padding: 0px; /* Espaciado alrededor del contenido */
}
.primer_direccion{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.segundo_direccion{
     font-family: 'Roboto Slab', cursive;
}

.maps-button {
    display: inline-block;
    font-family: 'Roboto Slab', cursive;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #A9CEDF; /* Color de fondo del botón */
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
}
/* Quitar el cambio de color cuando el enlace está en estado activo o visitado */
.maps-button:visited,
.maps-button:active {
    color: white; /* Mantener el color de texto blanco */
    text-decoration: none;
}
.maps-button:hover {
    background-color: #A6A6A6; /* Color de fondo cuando el cursor pasa por encima */
    text-decoration: none;
    color: white;
}
/* Imagen de la fecha y hora */
.dia_hora_fiesta {
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho */
    margin: 0;   /* Elimina márgenes */
    padding: 0;  /* Elimina relleno */
    display: block; /* Elimina el espacio debajo de la imagen */
}

/*Galeria de fotos*/

.galeria{
    margin-top: 25px;
}
.img-galeria{
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.img-galeria:hover 
{
    transform: scale(1.3);
}
.img-galeria-grande
{
    height: 150px;
    width: 65%;
    margin-bottom: 2%;
    border-radius: 5px;
}
.img-galeria-chica 
{
    height: 150px;
    width: 30%;
    margin-bottom: 2%;
    border-radius: 5px;
}
.galeria .contenedor 
{
   display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Asegura que las imágenes se centren horizontalmente */
    gap: 20px;  /* Espacio entre las imágenes */
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
  }
.modal 
{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    display: none;
}
.modal-open {
    display: block; /* Cambia de `none` a `block` cuando se activa el modal */
}

.contenido-modal 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#img-modal {
    max-width: 90%; /* Limita el tamaño máximo de la imagen en el modal */
    max-height: 80vh; /* Limita la altura máxima */
    object-fit: contain; /* Mantiene la proporción de la imagen */
    border-radius: 5px;
}

/*Temporizador para la hora de la fiesta*/

tempo {
    background-color: #A9CEDF; /* Fondo celeste */
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.temporizador {
    text-align: center;
    color: #333;
    border-radius: 10px;
    padding: 40px;
    max-width: 100%;
    width: 100%;
}

.temporizador_texto {
    font-size: px;
    font-family: 'Dancing Script', cursive;
    color: #8A8E9A;
    margin-bottom: 20px;
}

.contador {
    font-size: 16px;
    font-family: 'Roboto Slab', cursive;
    font-weight: bold;
    color: #8A8E9A;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

span {
    margin: 0 5px;
}

/* Estilos para la parte del regalo y alias*/

.regalo_section {
    background-color: #E3F3FB; /* Fondo celeste */
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.regalo {
    font-size: 12px;
    font-family: 'Roboto Slab', cursive;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    width: 100%;
}


/* Estilos para el popup (la ventana emergente del cbu) */
.popup {
            display: none; /* Se oculta inicialmente */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 1000; /* Asegura que esté por encima de otros elementos */
            font-family: 'Roboto Slab', cursive;
            border-radius: 10px;
        }
        .popup-overlay {
            display: none; /* Se oculta inicialmente */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
            z-index: 999; /* Fondo debajo del popup */
        }
        .popup-content {
            font-size: 12px;
            margin-bottom: 20px;
        }
        .popup button {
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
        